<div class="container contact">
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <h3 class="p-lr">
                    Contact Us
                </h3>
                <div class="row group">
                    <div class="col-sm-4 item">
                        Address :
                    </div>
                    <div class="col-sm-8 item">
                        Sampann Bazaar, NH-33, <br>Zero Mile, Bhagalpur, <br>Bihar, India - 813201
                    </div>
                    <div class="col-sm-4 item">
                        <i class="fas fa-envelope-open" aria-hidden="true"></i>
                        <!-- <i class="fa fa-envelope" aria-hidden="true"></i> -->
                        <span>Email :</span>
                    </div>
                    <div class="col-sm-8 item">
                        <a href="mailto:sampannbazaar@gmail.com">sampannbazaar@gmail.com</a>
                    </div>
                    <div class="col-sm-4 item">
                        <i class="fas fa-mobile" aria-hidden="true"></i>
                        <!-- <i class="fa fa-mobile fa-lg" aria-hidden="true"></i> -->
                        <span>Mobile :</span>
                    </div>
                    <div class="col-sm-8 item">
                        <a href="tel:+919003957230">+91-9003957230</a>,&nbsp;
                        <a href="tel:+917387816027">+91-7387816027</a>
                    </div>
                    <div class="col-sm-4 item">
                        <i class="fab fa-whatsapp" aria-hidden="true"></i>
                        <!-- <i class="fa fa-whatsapp" aria-hidden="true"></i> -->
                        <span>WhatsApp :</span>
                    </div>
                    <div class="col-sm-8 item">
                        <a href="https://wa.me/+919003957230">+91-9003957230</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 p-lr">
                <h3>
                    Locate Us
                </h3>
                <div class="row">
                    <img src="./../../../assets/img/location.png" class="img-fluid location">
                </div>
            </div>
        </div>
    </div>
</div>