.col-sm-6.col-md-6{
    padding: 0px;
    .group{
        margin-left: 0px;
        margin-right: 0px;
    }
    .item {
        margin-top: 5px;
        margin-bottom: 5px;
        // padding: 0;
    }
}

.location {
    height: 400px;
}