.navbar {
    height: 100px;
    justify-content: center;
    box-shadow: 0 1px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,.1);
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.1);
    img {
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }
}

.navbar.scrolled{
    height: 70px;
    img {
        width: 20%;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }
}