.home{
    // background-image: url("../../../assets/img/img5.png");
    background-attachment: fixed;
    background-size: cover;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    position: relative;
    img:first-child {
        //position: absolute;
        width: 100%;
        opacity: 0.9;
    }

    .watermark-text{
        top: 18px;
        width: 100%;
        position: absolute;
        justify-content: center;
        margin: 0 auto;
        img {
            width: 30%;
            //background: #fff;
            opacity: 1;
            filter: drop-shadow(.05em .05em orange);
            -ms-transform: translate(115%, 100%); /* IE 9 */
            transform: translate(115%, 100%);
        }
    }
}