<div id="main"  class="wrapper" (window:scroll)="onWindowScroll($event)">
  <!-- HEADER -->
  <header [className]="className"></header>
  <!-- HEADER -->
  <!-- CONTENT -->
  <content></content>
  <!-- CONTENT -->
  <!-- FOOTER -->
  <footer></footer>
  <!-- FOOTER -->
  <!-- SOCIAL LINKS -->
  <div class="social-icons" *ngIf="route.url != '/contact'">
    <ul class="list-unstyled text-center mb-0">
      <li class="list-unstyled-item">
        <a href="https://wa.me/+919003957230">
          <i class="fab fa-whatsapp"></i>
        </a>
      </li>
      <li class="list-unstyled-item">
        <a href="https://www.facebook.com/Sampann-Bazaar-101988058317598" target="_blank">
          <i class="fab fa-facebook-f"></i>
        </a>
      </li>
      <li class="list-unstyled-item">
        <a href="https://www.instagram.com/sampannbazaar" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
      </li>
    </ul>
  </div>
  <!-- SOCIAL LINKS -->
</div>