/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    font-size: 18px !important;
    background-image: linear-gradient(#232f3e, #27633f);
}

body {
    font-family: 'PT Sans', sans-serif !important;
    position: relative;
    overflow: auto;
    color: #585858 !important;
}

m-b-10,
header{
    margin-bottom: 10px;
}

#content{
    padding-top: 104px;
    color: #969595 !important;
}

footer{
    font-size: 14px;
}

i {
    margin-right: 5px;
}

.p-l{
    padding-left: 15px !important;
}

.p-r{
    padding-right: 15px !important;
}

.p-lr{
    @extend .p-l;
    @extend .p-r;
}